*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}

body{
    padding-left: 20vw;
    padding-right: 20vw;
}

.hero,
.s3{
    background-color: #1ABC9C;
}

header{
    background-color: #2C3E50;
    padding-left: 5vw;
    padding-right: 5vw;
}

.bianco{
    color: white;
}

.linea-stella{
    padding-left: 5vw;
    padding: 5vw;
}

.star-dim{
    font-size: 2em;
}

footer{
    background-color: #3A546D;
}

.sotto-footer{
    background-color: #2C3E50;
    color: white;
}