*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}

body{
    padding-left: 20vw;
    padding-right: 20vw;
}

.hero,
.s3{
    background-color: #1ABC9C;
    border: 1px solid black;
}

header{
    background-color: #2C3E50;
}

header div>ul>li>a,
header div>a>span{
    color: white;
}

.star-dim{
    font-size: 2em;
}

.linea{
    background-color: black;
}

.s2,
.s4,
footer{
    border: 1px solid black;
}


.colore-f{
    background-color: #3A546D;
}

.sotto-footer{
    background-color: #2C3E50;


}
